.container {
  padding-top: 20vh;
}

.number-keyboard {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.number-voice {
  font-size: 2rem;
  margin-bottom: 10px;
}

.number-slots {
  margin-bottom: 10px;
}
