.container {
  padding-top: 20vh;
}

.number-keyboard {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 1px 6px rgba(0,0,0,.2);
}

.number-voice {
  font-size: 2rem;
  margin-bottom: 10px;
}

.number-slots {
  margin-bottom: 20px;
}

.success-content {
  padding-top: 100px;
}

.success-icon {
  width: 100px;
}

.result-text {
  margin-bottom: 20px;
}

.test-result-container {
  font-size: 20px;
  max-width: 270px;
  margin: auto;
  text-align: left;
}

@media (max-height: 900px) {
  .container {
    padding-top: 20px;
  }
}
