.container {
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

.key-button {
  float: left;
  width: 33.333%;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  color: white;
  font-size: 2.5rem;
  box-sizing: border-box;
  border: 1px solid white;

  &:active {
    opacity: 0.5;
  }
}
